
body{

   background-image: url("../Trains/images/bedge_grunge.png")
}

#container{

    width: 968px;
    height: auto;
   
}

#jumbo-container{
    border: 5px;
    border-color: darkgreen;
    border-style: double;
    background-image: url("../Trains/images/felt.png") 
}


#schedule-container{

    border: 5px;
    border-color: darkgreen;
    border-style: double;
    background-image: url("../Trains/images/ice_age.png") 
}

#form-container{
    margin-top: 3%;
    border: 5px;
    border-color: darkgreen;
    border-style: double;
    background-image: url("../Trains/images/leather_1.png")  
}

#header-text{
    text-align: center;
    color: darkgreen;
    font: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

h3{
    background-color: dimgray;
    opacity: .7;
}